<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> COVID-19 Resources IN</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="shortcut icon" type="image/png" href="/static/images/logo.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/081bf77113.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/about.css">
</head>

<body>
  <nav>
    <div class="logo">
      <a href="/" class="logo">
        <img src="/static/images/logo.png" alt="covid logo">

        <h4> COVID-19 RESOURCES </h4>
      </a>
    </div>

    <ul class="nav-links">
      <li> <a href="/vaccine"> VACCINE INFO </a> </li>
      <li> <a href="/blog"> BLOG </a> </li>
      <li> <a href="/about"> ABOUT </a> </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>

    </div>
  </nav>
  <main>
    <div class="about-us">
      <h1 style="color: white; text-align: center; padding: 60px;">ABOUT US</h1>
    </div>
    <div class="introduction">
      <p>We <a href="https://www.linkedin.com/in/ayushverma02/" target="_blank">Ayush Verma </a>and <a
          href="https://www.linkedin.com/in/vaibhav-kumar5/" target="_blank">Vaibhav Kumar</a> students of ADGITM, Delhi
        pursing B.tech (IT) made this website with the objective to help people deal with the unprecedented crisis that
        this pandemic has brought upon us. </p>
      <br>
      <p>We have designed this website to help people find verified leads for necessary medical supplies. It is a user
        friendly website which enables people to not only find verified leads but also submit them.</p>
      <br>
      <p>If this website even helps one person in getting the necessary medical supplies then we will consider that our
        objective behind developing this website is achieved.
        Stay safe and take care. </p>
      <br>

      <p>
          <strong><u>Tech Stack</u></strong><br>
        <strong>1. Frontend</strong><br>
         a)HTML<br>
         b)CSS<br>
         c)JS DOM<br>
         d)Jquery<br>
        <br>
        <strong>2. Backend</strong><br>
         a)Django, Python<br>
         b)SQLITE3<br>
      </p>
      <br>
      <p>
          <strong><u>Sources Used</u></strong><br>

        <strong>1.<a href="https://www.worldometers.info/coronavirus/country/india/" target=_blank>worldometers.info</a></strong><br>
        <small>For getting current COVID data- total, active, deaths reported, recovered patients.</small><br>

        <strong>2. <a href="https://apisetu.gov.in/public/api/cowin" target=_blank>COWIN API SETU</a></strong><br>
        <small>API for getting available vaccine slots</small><br>

        <strong>2. <a href="https://docs.google.com/spreadsheets/d/1AvsaHXg7Lts0HahS_ZlNrpESwAlPWN0vfsyPf7yxvuc/" target=_blank>Verified Leads Spreadsheet</a></strong><br>
        <small>Google spreadsheet that has leads for resources, personally verified by our college mates and us</small><br>
      </p>
      <br>

      <p>
          Designed and Developed by
        <a href="https://www.linkedin.com/in/ayushverma02/" target=_blank> Ayush</a>
        &
        <a href="https://www.linkedin.com/in/vaibhav-kumar5/" target="_blank">Vaibhav</a>
      </p>
    </div>

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/static/js/covid.js"></script>

</body>

</html>