<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/images/logo.png"/>
    <title> COVID-19 Resources IN</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/blog.css">
    <script src="https://kit.fontawesome.com/081bf77113.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="/" class="logo">
                <img src="/static/images/logo.png" alt="covid logo">

                <h4> COVID-19 RESOURCES </h4>
            </a>
        </div>

        <ul class="nav-links">
            <li> <a href="/vaccine"> VACCINE INFO </a> </li>
            <li> <a href="/blog"> BLOG </a> </li>
            <li> <a href="/about"> ABOUT </a> </li>
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>

        </div>
    </nav>
    <main>
        <!-- page wrapper -->
        <div class="page-wrapper">

            <!--Content-->
            <div class="content clearfix">
                <!--main content wrapper-->
                <div class="main-content-wrapper">
                    <div class="main-content single">
                        <h1 class="post-title">This is the title of the post</h1>

                        <div class="post-content">
                            India is witnessing the largest vaccination drive in the world, with the government allowing vaccination for people who are 18 years or older the 3rd phase of vaccination has started. In order to get vaccinated, one has to book a slot at their preferred vaccination centre on the COWIN Platform that the government has provided by using Aadhar card. However, due to the difference between demand and supply booking a vaccination slot can be tricky. In order to curb this issue we have introduced a feature on our website through which a user can find the nearest available vaccination centre by entering their area code.

There are certain safeguards kept in mind before getting vaccinated and these are –
<br>
1.	Social distancing and Mask
It is important to ensure social distancing at the vaccination center to reduce the risk of transmission. In order to ensure maximum safety, it is advisable to wear a mask at all times.
<br>
2.	Consult a Doctor
Let the health care professional know if you have any medical conditions that could be considered precautions, such as pregnancy or a compromised immune system.
<br>
3.	Monitoring
The vaccine administrator  should observe you for about 30 minutes after the vaccine is administered to make sure you don’t have any immediate reactions.
<br>
4.	Side Effects
One should be prepared for mild side effects after administration of vaccine such as –
<br>a.	Arm soreness at the injection site
<br>b.	Mild fever
<br>c.	Fatigue
<br>d.	Headaches
<br>e.	Muscle or joint aches
<br>f.	Chills
However, If any of these symptoms continue for more than a few days or if you experience a more severe reaction, then contact a doctor immediately.

                        </div>



                    </div>
                </div>
                <!--//main content-->
                <div class="sidebar single">
                    <!--will add sidebar later-->

                    <div class="section popular">
                        <h2 class="section-title">Popular</h2>

                        <div class="post clearfix">
                            <img src="/static/images/blog.jpg">
                            <a href="/article" class="title">
                                <h3>Title of post</h3>
                            </a>
                        </div>
                        <div class="post clearfix">
                            <img src="/static/images/blog.jpg">
                            <a href="/article" class="title">
                                <h3>Title of post</h3>
                            </a>
                        </div>
                        <div class="post clearfix">
                            <img src="/static/images/blog.jpg">
                            <a href="/article" class="title">
                                <h3>Title of post</h3>
                            </a>
                        </div>
                        <div class="post clearfix">
                            <img src="/static/images/blog.jpg">
                            <a href="/article" class="title">
                                <h3>Title of post</h3>
                            </a>
                        </div>
                        <div class="post clearfix">
                            <img src="/static/images/blog.jpg">
                            <a href="/article" class="title">
                                <h3>Title of post</h3>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
            <!--//Content-->

        </div>

    </main>
    <footer>
        <div class="bottom">
            <center>
                <span class="credit">Created By <a href="https://www.linkedin.com/in/ayushverma02/"
                        target="_blank">Ayush</a> &
                    <a href="https://www.linkedin.com/in/vaibhav-kumar5/" target="_blank">Vaibhav</a> | </span>

                <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
            </center>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/static/js/covid.js"></script>
</body>

</html>